<!DOCTYPE html>

<html lang="en"   xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>登录界面</title>
    <link rel="stylesheet" type="text/css" href="/static/css/sign-in.css" />
</head>
<body>
<p class="tip">Click on button in image container</p>
<div align="center">
    <!--短信登录-->
    <form  th:action="@{/login/mobile}" method="post">
        <div class="form sign-in">
            <h2>欢迎回来,</h2>
            <label>
                <span>手机号：</span>
                <input type="text" name="mobile" value="15621493371"/>
            </label>
            <label>
                <span>短信验证码：</span>
                <input type="text" name="smsCode" />
                <a href="/code/sms?mobile=15621493371">发送验证码</a>
            </label>
            <input type="submit" class="submit input_button"  value="登录"/>
        </div>
    </form>
    <hr/>
    <!--社交登录-->
    <h2>社交登录</h2>
    <a href="/auth/qq">QQ登录 </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/auth/weixin">微信登录 </a>
</div>
<div class="cont">


<form  th:action="@{/login}" method="post">
    <div class="form sign-in">
        <h2>欢迎回来,</h2>
        <label>
            <span>用户名：</span>
            <input type="text" name="username" />
        </label>
        <label>
            <span>密码：</span>
            <input type="password" name="password" />
        </label>
        <label>
            <span>验证码：</span>
            <input type="text" name="imageCode" />
            <img src="/code/image" />
            <!--<img src="/code/image?width=67" />-->
        </label>
        <label>
            <span>记住我：</span>
            <input type="checkbox" name="remember-me" value="true" />
        </label>
        <p class="forgot-pass">忘记密码?</p>
        <input type="submit" class="submit input_button"  value="登录"/>

        <button type="button" class="fb-btn">链接到 <span>facebook</span></button>
    </div>
</form>
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h2>新来的?</h2>
                <p>注册将会发现新的机遇!</p>
            </div>
            <div class="img__text m--in">
                <h2>我们中的一员?</h2>
                <p>如果您已有帐户，请登录。我们很想念您!</p>
            </div>
            <div class="img__btn">
                <span class="m--up">注册</span>
                <span class="m--in">登录</span>
            </div>
        </div>
        <div class="form sign-up">
            <h2>时间感觉像家一样,</h2>
            <label>
                <span>用户名</span>
                <input type="text" />
            </label>
            <label>
                <span>Email</span>
                <input type="email" />
            </label>
            <label>
                <span>密码</span>
                <input type="password" />
            </label>
            <button type="button" class="submit">注册</button>
            <button type="button" class="fb-btn">使用 <span>facebook</span></button>
        </div>
    </div>
</div>





</body>
<script src="/static/js/sign-in.js" th:src="@{/static/js/sign-in.js}"></script>
</html>